@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Meow+Script&family=Roboto:ital,wght@0,100..900;1,100..900&family=Vibur&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

@font-face {
    font-family: "Mans šrifts";
    src: url('./LeckerliOne-Regular.ttf');
}


/* 1. Selektori */

/* header,h2,table,form{
    color:red;
    background-color: beige;
}

img{

}

button{
    color:white;
}

button.edit_btn{
    background-color: rgb(93, 92, 92);    
}
button.del_btn{
    background-color: rgb(196, 9, 9);   
}


form{
    color:black;

}
/* Atlase pēc vienas vai vairākām klasēm */
/* .edit_btn.ok{
    outline:2px solid red;
}  */

/* Atlase pēc ID */

/*
#main1{
     background-color: rgb(248, 252, 209);   
}

header h1{
    color:blue;
}
header > h1{
    color:blue;
}
header + h1{
    color:blue;
}

table tr:nth-child(2){
    background-color: aquamarine;
}
table tr:nth-child(odd){
    background-color: aquamarine;
}*/
/* table tr:nth-child(even){
    background-color: rgb(240, 209, 2);
}

table tr:not(table tr:last-child){
    color:rgb(9, 83, 245)
} */


:root{
    --size1:16px;
    --krasa1:#5AB1BB;
    --krasa2:#F7DD72;
    --teksta-krasa3:#1E152A;


   
}


body{
    background-color: var(--krasa1);
    color:var(--teksta-krasa3);
    
}

header{
    
}


/* Bloka elementi */

/* h1-h6,div,p,ul,form,visi semantiskie */
*{
     /*Selektors * nozīmē atlasīt visus elementus  */

  margin: 0;
  padding: 0;
  box-sizing: border-box;
    /* Maina veidu kā aprēķina reālo elementa izmēru */

}

h1{
    width:500px;
    /* height: 200px; */
    background-color: var(--krasa2);

    margin:20px;
    margin:20px 50px;
    margin:20px auto;
    margin-top:100px;
    /* Margin - ārējā atkāpe */

    border:5px solid black;
    border-color:deeppink;
    border-width:2px;
    border-style: outset;
    border-radius: 10px;

    padding: 20px;
    padding: 10px 20px;
    /* padding-top:50px; */
    text-align: center;
    color:deeppink;



    

}

section{
    border-top:2px solid white;
    border-bottom:2px solid white;
    padding: 20px;
}

section#flex{
    /* ātrā bloku sakārtošana */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap:10px;

}

section#flex div{
        width: 300px;
        height: 300px;
        background-color: aquamarine;
        border:1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50pt;
        align-items: center;
}





/* Teksta noformēšana */
    body{
        font-family: 'Roboto';
        font-size: 16px;
        color: var(--teksta-krasa3);
        font-weight: normal;
        font-style: normal;

    }

  h1,h2,h3{
     font-weight: 100;
     font-style: oblique;
     text-decoration: underline double red;  
     font-size: 3em;
     text-align: center;
     font-family: "Leckerli One", cursive;

  }  

  a{
    text-decoration: none;
    color: var(--teksta-krasa3);
  }

  p{
    max-width: 500px;
    margin: 20px auto;
    text-indent: 1em;
    word-spacing: 1px;
    font-family: "Mans šrifts";
    /* letter-spacing: 5px; */


  }


  /* Google fonts */    



  .ikonas{
    font-size: 3em !important;
    color:red;
  }

  button{
    background: none;
    outline: 3px solid white;
    padding: 10px;
    /* border:none; */

    cursor: pointer;
  }


  /* :hover */


  h1:hover {
    background-color: antiquewhite;
  }


  button:hover{
    background-color:rgba(251, 251, 255, 0.269)
  }

  input:focus, textarea:focus-visible{
    background-color: rgba(255, 13, 13, 0.594);
  }

/* Foni */


body{
    background-image: linear-gradient(rgb(157, 157, 255),rgb(0, 85, 255));
    background-image: radial-gradient(rgb(157, 157, 255),rgb(0, 85, 255));
    background: #2A7B9B;
    background: linear-gradient(20deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 26%, rgba(111, 168, 209, 1) 55%, rgba(196, 95, 216, 1) 79%, rgba(237, 221, 83, 1) 100%);

    background-image: url('./images/jebkads.gif');
    background-image: url('https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y2l0eXxlbnwwfHwwfHx8MA%3D%3D');

    background-size: 100%;
    background-size: cover;

    background-position: -20px -350px;
    background-position: top right;
    background-position: bottom right;
    background-position: center center;
    background-clip: border-box;
    background-attachment: fixed;
   background-blend-mode:lighten ;

   
}

main{
    max-width:1200px;
    margin: auto;
    background-color: #fffffff4;
    padding: 30px;
}

/* Pozicionēšana */


footer{
    height: 100px;
    background-color: #1E152A; 
}
.bloks{
    width: 300px;
    height: 300px;
    background-color: #000000aa;
    position: static;
    position: relative;

    /* top:-50px; */
    /* left:400px; */
    /* bottom:50px;
    right:-300px; */
    z-index: 5;
    position: absolute;
   bottom:50px;
    right: 50px;
   
    
    position: fixed;    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 100%;
    height: 100%;
    z-index: 50000;    


    display: flex;
    justify-content: center;
    align-items: center;

     display: none;
}

header{
    position: relative;
}

header .btns{
    position: absolute;
    right: 100px;
    top:20px;
}

nav{
    padding: 5px;
    background-color: #1E152A; 
    position: sticky;
    top:0px;
    z-index: 1000;
     display: flex;
    justify-content: center;
    align-items: center;
}

nav a{
    color:white
}


/* https://www.w3schools.com/css/css_grid.asp */




/* pseido elementi */

h1::before{
    content:"***";
    display: block;
    text-decoration: none;
    text-decoration-color:transparent ;
}

h1::after{
     content:"---";
     display: block;
    text-decoration: none;
}


/* Transformācija */

h1{
    transform: rotate(10deg) scale(1.2) skew(10deg) translate(0px,20px);
    filter:blur(5px) opacity(0.8) grayscale(10%) hue-rotate(360deg); 
}
/* Animācijas */
button{
    background-color: rgb(253, 53, 53);
    transition: all .2s ease-in-out;
}
button:hover{
    background-color: rgb(253, 53, 53);
    /* filter:invert(100%); */
    filter:hue-rotate(90deg);
    transition: all .5s ease-in-out;
}


#flex div{
    filter: grayscale(.8);
     transition: all .3s ease-in-out;
     cursor: pointer;
     z-index: 0;
}

#flex div:hover{
    filter: grayscale(0);
    transform: scale(1.15);
    transition: all 300ms ease-in-out;
    z-index: 1;
}


@keyframes animacija1{
    0%{
        color: #F7DD72;
        transform: scale(0.7) rotate(-5deg);
    }
    50%{
         color: #72f7ac;
         transform: scale(1) rotate(5deg);
    }
    100%{
         color: #F7DD72;
         transform: scale(0.7) rotate(-5deg);
    }

}

